/* design: minimum viewport width >= 320px. mobile device viewport width <= 430px. */
/* mobile first and then respond to larger sizes. */
html {
  --black: rgba(0, 0, 0, 1);
  --black-30: rgba(0, 0, 0, 0.30);
  --white: rgba(255, 255, 255, 1);
  --light-gray: rgba(239, 239, 239, 1);
  --dark-gray: rgba(58, 58, 58, 1);
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--light-gray);
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  word-break: break-word;
}